.main-heading {
  max-width: 864px;
  display: flex;
  justify-content: center;
  margin: 80px auto;
  font-size: 42px;
  background: linear-gradient(100deg, #f0145a, #ef8080);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f0145a;
}
.block-one {
  margin-top: 80px;
}
.block-two {
  margin-top: 40px;
}

.text-card {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.text-name {
  font-size: 18px;
  color: #323264;
  line-height: 21px;
  margin: 20px 0 5px;
}
.text-position {
  font-size: 16px;
  line-height: 22px;
  color: #b3b3ba;
  margin-bottom: 40px;
}

.picture {
  vertical-align: middle;
  max-width: 100%;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .picture {
    width: 100%;
  }

  .text-position {
    margin-bottom: 40px;
  }
  .main-heading {
    font-size: 42px;
    margin-bottom: 0;
  }
  .block-one {
    margin-top: 20px;
  }
  .block-two {
    margin-top: 0px;
  }
  .members {
    hyphens: none;
  }
  .oder-3 {
    order: 3;
  }
  .oder-2 {
    order: 2;
  }
}

@media (max-width: 576px) {
  .picture {
    width: 158px;
  }
  .text-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    margin-left: 20px;
  }
  .members {
    display: flex;
  }
  .block-two {
    display: flex;
    flex-direction: column-reverse;
  }
  .text-position {
    margin-bottom: 10px;
  }
  .main-heading {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .block-one {
    margin-top: 0px;
  }
  .col-all {
    margin: 0 0 20px 0;
  }
  .oder-3 {
    order: 3;
  }
  .oder-2 {
    order: 2;
  }
}
@media (max-width: 380px) {
  .members {
    hyphens: auto;
  }
}

// --about-page--//

.about-row {
  display: flex;
  margin-top: 80px;

  .benefits-row {
    display: flex;
    text-align: center;
    margin-top: -6px;
  }

  .about-col-one {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 100px;

    @media (max-width: 992px) {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    .first-content {
      max-width: 100%;

      .first-content-text {
        color: #000000;
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 0;
      }

      @media (max-width: 992px) {
        .about-content {
          font-size: 18px;
          margin: 0;
          padding-bottom: 20px;
        }
      }
    }
  }
  .gradient {
    font-size: 36px;
    text-align: center;
    margin: 0px 0 0 6px;
    background: linear-gradient(100deg, #f0145a, #ef8080);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f0145a;
  }
  .text-gradient {
    font-size: 42px;
    background: linear-gradient(100deg, #f0145a, #ef8080);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f0145a;
  }
  @media (max-width: 992px) {
    .about-heading {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }
  @media (max-width: 992px) {
    .about-heading-two {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }

  .about-col-two {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin-right: 100px;
    margin-left: 40px;

    @media (max-width: 992px) {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    .second-content {
      max-width: 100%;
      border: 4px solid #e6e6f0;
      border-right: 0;
      border-top: 0;
      border-bottom: 0;
      margin-top: 15px;
      padding-left: 20px;

      @media (max-width: 992px) {
        border-top: 4px solid #e6e6f0;
        border-left: 0;
        margin-top: 0;
        padding-left: 0;
        padding-top: 15px;
      }
      .second-content-text {
        color: #323264;
        font-size: 18px;
        line-height: 21px;
        margin: 0;
      }
      .text-one {
        margin-top: 10px;
        margin-bottom: 40px;

        @media (max-width: 992px) {
          margin-bottom: 20px;
        }
      }
      .text-two {
        margin-top: 5px;
        margin-bottom: 40px;

        @media (max-width: 992px) {
          margin-bottom: 20px;
        }
      }
      .text-three {
        margin-top: 10px;

        @media (max-width: 992px) {
          margin-top: 10px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .about-row {
    flex-direction: column;
    margin-top: 20px;
  }
  .second-page,
  .navbar {
    margin-bottom: 0;
    margin-top: 20px;
  }
}

// --history--//
.history-text {
  margin-bottom: 90px;
  color: #000000;
  font-size: 21px;
  line-height: 30px;
}

.swiper {
  margin-top: 25px;
}

.about-slider-sect {
  background-color: $lightgrey;
  padding: 30px 0 70px;
  border-radius: 12px 12px 0 0;
}
.swiper-slide {
  background-color: white;
  border-radius: 12px;
  text-align: center;
  padding: 25px;

  img {
    max-width: 100%;

    @media (max-width: 1280px) {
      max-height: 40px;
    }
    @media (max-width: 992px) {
      max-height: 30px;
    }
  }
}
.swiper-container {
  position: relative;

  .logo-slider-pagination {
    bottom: -50px;

    .swiper-pagination-bullet {
      background: $blu;
      width: 16px;
      height: 16px;
      margin: 0 7px;
    }
  }
}
.slider-achive-heading {
  text-align: center;
  font-size: 14px;
  color: #323264;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

// --Block-background-team--//

.row-about-back {
  display: flex;
  flex-direction: column;
  width: 100%;

  .about-picture {
    display: flex;
    align-items: center;
    background-image: url(../img/backgrond-team.png);
    max-width: 100%;
    height: 438px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    background-position: center center;

    @media (max-width: 992px) {
      background-position: center center;
    }
    @media (max-width: 568px) {
      height: 290px;
      margin-top: 35px;
    }

    .big-text {
      text-align: center;
      margin: 0 auto;

      &-team {
        font-size: 92px;
        opacity: 0.8;
        color: #ffffff;
        text-align: center;
        letter-spacing: 63px;
        text-transform: uppercase;
        text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);

        @media (max-width: 992px) {
          font-size: 32px;
        }
        @media (max-width: 768px) {
          font-size: 32px;
          letter-spacing: 50px;
        }

        @media (max-width: 568px) {
          letter-spacing: 18px;
        }
      }
    }
  }
}

// --team-member--//

.block-one {
  margin: 80px 0;
  width: 100%;

  .text-gradient {
    font-size: 42px;
    background: linear-gradient(100deg, #f0145a, #ef8080);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f0145a;

    .member-main-heading {
      margin-bottom: 10px;

      @media (max-width: 768px) {
        font-size: 32px;
        font-weight: 700;
      }
      @media (max-width: 992px) {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }
  }

  .member-link {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    .member-position {
      color: $grey-color;
      margin: 0;
    }

    .member-circle:before,
    .member-circle:after {
      content: " ";
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: #e6e6f0;
      border-radius: 120%;
      vertical-align: middle;
      margin: 0px 10px 0 10px;

      @media (max-width: 992px) {
        width: 0px;
        height: 0px;
        margin: 0;
      }
    }

    a {
      text-decoration: none;
    }
    a:hover {
      color: #f0145a;
    }
  }
  .member-text {
    font-size: 18px;
    line-height: 26px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .member-text-two {
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
  .member-heading-minor {
    font-size: 14px;
    color: #323264;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 40px 0 10px 0;
    font-weight: 700;

    @media (max-width: 768px) {
      margin-top: 0px;
    }
  }
  .member-contain {
    margin-top: 20px;
  }

  .member-separator {
    border-bottom: 4px solid #e6e6f0;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  .col-members-one {
    padding: 0;
    margin-left: 100px;

    @media (max-width: 992px) {
      margin-left: 0;
    }
  }
  .col-members-two {
    padding: 0;
    margin-left: 40px;

    @media (max-width: 992px) {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .members-picture {
    width: 100%;
  }
  .block-one {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .member-circle {
    margin: 10px 0;
  }
}
@media (max-width: 1024px) {
  .members-picture {
    max-width: 100%;
  }
}

// --Contact--//

.contact-row {
  display: flex;
  .contact-data {
    display: flex;
    flex-direction: column;
    width: 100%;

    .contact-address {
      border-bottom: 4px solid #e6e6f0;
      margin-bottom: 40px;

      @media (max-width: 992px) {
        font-weight: 500;
      }
    }

    .contact-sity {
      color: #323264;
      font-size: 21px;
      margin-bottom: 20px;
    }
    .communication {
      text-decoration: none;
    }
    .contact-communication {
      margin-bottom: 20px;
    }
    .contact-phone {
      font-size: 21px;
      color: #46466e;
    }
    .contact-email-address {
      border-bottom: 4px solid #e6e6f0;
      margin-bottom: 20px;
    }
    .contact-email-indentation {
      margin-bottom: 40px;
    }
    .contact-email {
      font-size: 21px;
      color: #24a3ff;
    }
    .contact-social {
      display: flex;
      align-items: center;

      @media (max-width: 992px) {
        margin-bottom: 10px;
      }

      .contact-text-fb {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24a3ff;
        margin-left: 10px;
      }
    }
  }

  .col-contact-one {
    margin-left: 100px;
    margin-right: 150px;
    width: 32%;
    display: flex;
    align-items: center;
  }

  .col-contact-two {
    display: flex;
    flex-direction: column;
    width: 40%;

    .contact-form {
      background: #f5f5fa;
      border-radius: 12px;
      margin-top: 30px;
      margin-bottom: 80px;

      @media (max-width: 992px) {
        margin-bottom: 40px;
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
      }

      .form-indentation {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
      }
      .contact-form-name {
        margin: 20px auto;
      }
      .contact-gradient {
        font-size: 32px;
        background: linear-gradient(100deg, #f0145a, #ef8080);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #f0145a;
        margin-top: 20px;
        margin-bottom: 0;

        @media (max-width: 992px) {
          font-size: 22px;
        }
      }
      .contact-input {
        width: 100%;
        font-size: 18px;
        background-color: #ffffff;
        border-radius: 8px;
        border: 1px solid white;
        height: 47px;
        padding-left: 10px;
      }
      .contact-input::placeholder {
        color: $grey-color;
      }
      .contact-text-comment {
        height: 180px;
        resize: none;
      }
      .contact-label-comment {
        width: 100%;
      }
      .contact-heading-mini {
        font-size: 14px;
        color: $grey-color;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 10px;

        @media (max-width: 992px) {
          margin-bottom: 20px;
        }
      }
      .contact-form-phone {
        margin-bottom: 20px;

        @media (max-width: 992px) {
          margin-bottom: 10px;
        }
      }
      .contact-form-mail {
        margin-bottom: 20px;
      }
      .contact-botom {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
      .contact-submit {
        background: #24a3ff;
        color: white;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        width: 250px;
        height: 50px;
        margin-bottom: 20px;
        border: 1px;
        font-size: 14px;
      }
    }
    .contact-submit:hover {
      color: #f0145a;
    }
  }
}
.contact-row .contact-data .contact-email:hover {
  color: #f0145a;
}
@media (max-width: 992px) {
  .contact-row {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .col-contact-one {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .col-contact-two {
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .contact-background {
    background: #3939b6;
  }
}

@media (max-width: 992px) {
  .contact-container {
    overflow: hidden;
  }
}

.team-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer-team {
  margin-top: auto;
}
